$font-size-base: 1.6rem;
$primary-text-color: #333333;
$bg-color: #acdaea;
$red-color: #d4153f;
$light-blue-color: #73c0b9;
$white-color: #ffffff;
$yellow-lightest-color: #ffd469;
$yellow-lighter-color: #fbce00;
$yellow-color: #ffca44;
$bg-yellow-color: #f9df9e;
$green-color: #a2c53a;
$green-dark-color: #73bd58;
$pink-color: #f1727e;
$grey-color: #cccccc;
$color--danube: #4988c9;
$color--boston-blue: #357bc3;
$blue-darker: #1173af;
$blue-darkest: #3c5a96;
$blue-lighter-color: #5cbde8;
$font-size-base: 1.6rem;
$primary-text-color: #333333;
$bg-color: #acdaea;
$red-color: #d4153f;
$light-blue-color: #73c0b9;
$white-color: #ffffff;
$yellow-lightest-color: #ffd469;
$yellow-lighter-color: #fbce00;
$yellow-color: #ffca44;
$yellow-darker-color: #fcc62f;
$bg-yellow-color: #f9df9e;
$green-color: #a2c53a;
$green-dark-color: #73bd58;
$green-bg-color: #81c369;
$pink-color: #f1727e;
$grey-color: #cccccc;
$grey-lighter-color: #eeeeee;
$step-count-per-row: 5;
$step-rounded: true;
$step-border: false;
$step-border-thick: 2px;
$step-border-color: $white-color;
$step-spacing: 10px;
$step-wh: 50px;
$step-font-size: 20px;
$bar-height: 20px;
$text-font-size: 16px;
$text-padding: 10px;
